.container {
  padding-top: 1200px;
  padding-bottom: 70px;
  margin: auto;
  margin: 5px 15px;
  gap: 20px;
  position: relative;
}

.card {
  width: 100%;
  background-color: #a2c4fa;
  height: auto;
  grid-column: span 8;
  margin: 10px 0;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.head-card img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.body-card {
  padding: 10px 15px;
}

.body-card h1 {
  margin: 0;
}

.body-card svg {
  width: 31px;
  position: absolute;
  bottom: 7px;
  right: 20px;
}

@media screen and (min-width: 550px) {
  .card {
    grid-column: span 4;
  }
}

@media screen and (min-width: 760px) {
  .card {
    width: 350px;
    margin: 0 10px;
  }

  @media screen and (min-width: 960px) {
  }
}
